@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
  <div class="col-md-3 card p-3">Total Requests: @ViewBag.TotalRequests</div>
  <div class="col-md-3 card p-3">Active: @ViewBag.Active</div>
  <div class="col-md-3 card p-3">Available Personnel: @ViewBag.AvailablePersons</div>
</div>
